<!--==========================
    Header
  ============================-->
<header id="header" class="{{opcion}}">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
            <a routerLink="/inicio" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li routerLinkActive="menu-active"><a routerLink="/inicio">Inicio</a></li>
                <li routerLinkActive="menu-active"><a routerLink="/mapa">Guía Virtual</a></li>
                <li routerLinkActive="menu-active"><a routerLink="/agenda">Agenda Cultural</a></li>
                <li routerLinkActive="menu-active"><a routerLink="/rutas">Rutas y Senderos</a></li>
                <!--<li routerLinkActive="menu-active" *ngIf="menu == 1"><a href="#supporters">Marcas</a></li>-->
                <!-- <li routerLinkActive="menu-active"><a routerLink="/descargas">Recursos Descargables</a></li> -->
                <li routerLinkActive="menu-active"><a routerLink="/info">A cerca de</a></li>
                <li class="buy-tickets"><a href="https://play.google.com/store/apps/details?id=shadow.lema.sarmiento&hl=es&gl=US">Descargar app</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->