<section id="intro">
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2>Turismo - Santa Isabel, Azuay</h2>
                    <p>El Chaguarurco ¨de los cañaribambas orgullo en la historia gloriosa del ayer¨.</p>
                </div>

                <div class="col-lg-2">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>
            </div>
        </div>
    </section>
</section>


<main id="main">



    <!--==========================
      About Section
    ============================-->


    <!--==========================
      Venue Section
    ============================-->
    <section id="venue" class="wow fadeInUp">

        <div class="container-fluid">

            <div class="row no-gutters">

                <!-- <div class="col-lg-6 venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1911.3488366672707!2d-79.31569455086465!3d-3.2742017239007297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cccc73044d3b55%3A0xcd97bb3d097633cb!2sParque%20Central%20de%20Santa%20Isabel!5e0!3m2!1ses!2sec!4v1614751129682!5m2!1ses!2sec" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div> -->

                <div class="col-lg-12 venue-info">
                    <div class="row justify-content-center">

                        <div class="col-3 col-lg-4">

                            <p>Cantón pujante, productivo y turístico de la província del Azuay ubicado al sur occidente del Ecuador, en la cuenca alta del río Jubones entre los 100 a 4000 metros de altitud con una gran variedad de biomas y temperaturas
                                desde los 8º a los 24º C. </p>
                            <br>
                            <p>Destino perfecto para el descanso, el reencuentro con el ser y la naturaleza, ideal para el ecoturismo, turismo de aventura, agroturismo, turismo rural y cultural. </p>
                        </div>

                        <div class="col-3 col-lg-4">
                            <p>El encanto del cálido y primaveral valle de Yunguilla y su corazón Abdón Calderón, con sus fincas vacacionales y hosterías, el hogar del matorralero cabecipálido (Atlapetes pallidiceps), ave considerada como extinta y redescubierta
                                en el año de 1998 por Niels Krabbe y otros investigadores, <br> desde entonces se crea la reserva yunguilla con el propósito de proteger la última población de esta ave. </p>
                        </div>

                        <div class="col-3 col-lg-3">
                            <p>El enigma tras la ciudad de piedra Carachula de Shaglli sus lagos y cascadas, la herencia cultural de Cañaribamba y sus montañas Shiri y Shalshapa, junto a la magia de la piedra movedora en Huasipamba, el páramo y la zona tropical
                                costanera del Carmen de Pijilí, la tierra del banano y el cacao fino de aroma.</p>
                        </div>


                    </div>
                </div>



            </div>

        </div>

        <div class="container-fluid venue-gallery-container">
            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="assets/img/venue-gallery/1.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="assets/img/venue-gallery/1.jpg" alt="" class="img-fluid" style="height: 250px; width: 100%;">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="assets/img/venue-gallery/2.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="assets/img/venue-gallery/2.jpg" alt="" class="img-fluid" style="height: 250px; width: 100%;">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="assets/img/venue-gallery/3.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="assets/img/venue-gallery/3.jpg" alt="" class="img-fluid" style="height: 250px; width: 100%;">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="assets/img/venue-gallery/4.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="assets/img/venue-gallery/4.jpg" alt="" class="img-fluid" style="height: 250px; width: 100%;">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="assets/img/venue-gallery/5.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="assets/img/venue-gallery/5.jpg" alt="" class="img-fluid" style="height: 250px; width: 100%;">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="assets/img/venue-gallery/6.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="assets/img/venue-gallery/6.jpg" alt="" class="img-fluid" style="height: 250px; width: 100%;">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="assets/img/venue-gallery/7.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="assets/img/venue-gallery/7.jpeg" alt="" class="img-fluid" style="height: 250px; width: 100%;">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="venue-gallery">
                        <a href="assets/img/venue-gallery/8.jpg" class="venobox" data-gall="venue-gallery">
                            <img src="assets/img/venue-gallery/8.jpg" alt="" class="img-fluid" style="height: 250px; width: 100%;">
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Guía virtual</h2>
                <p>Menú de actividades turísticas</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="assets/img/menu/mapa1.jpg" alt="Speaker 1" style="height: 200px; width: 100%;" class="img-fluid">
                        <div class="details">
                            <h3><a routerLink="/mapa">Mapa turístico virtual</a></h3>
                            <p>Ver mas</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="assets/img/menu/rutas1.jpg" alt="Speaker 2" style="height: 200px; width: 100%;" class="img-fluid">
                        <div class="details">
                            <h3><a routerLink="/rutas">Rutas y senderos</a></h3>
                            <p>Ver mas</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="assets/img/menu/informacion1.png" alt="Speaker 3" style="height: 200px; width: 100%;" class="img-fluid">
                        <div class="details">
                            <h3><a routerLink="/info">Donde hospedarse</a></h3>
                            <p>Ver mas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="assets/img/menu/descargas1.jpg" alt="Speaker 4" style="height: 200px; width: 100%;" class="img-fluid">
                        <div class="details">
                            <h3><a routerLink="/descargas">Recursos descargables</a></h3>
                            <p>Ver mas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="assets/img/menu/cagenda2.png" alt="Speaker 5" style="height: 200px; width: 100%;" class="img-fluid">
                        <div class="details">
                            <h3><a routerLink="/agenda">Agenda cultural</a></h3>
                            <p>Ver mas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker">
                        <img src="assets/img/menu/contactanos1.png" alt="Speaker 6" style="height: 200px; width: 100%;" class="img-fluid">
                        <div class="details">
                            <h3><a href="#contact">Donde comer</a></h3>
                            <p>Ver mas</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>









    <!--==========================
      Sponsors Section
    ============================-->
    <section id="supporters" class="section-with-bg wow fadeInUp">

        <div class="container">
            <div class="section-header">
                <h2>Auspiciantes</h2>
            </div>

            <div class="row no-gutters supporters-wrap clearfix">

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="assets/img/supporters/1.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="assets/img/supporters/2.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="assets/img/supporters/4.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="assets/img/supporters/3.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="assets/img/supporters/5.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="assets/img/supporters/6.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="assets/img/supporters/7.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="assets/img/supporters/8.png" class="img-fluid" alt="">
                    </div>
                </div>

            </div>

        </div>

    </section>



    <!--==========================
      Subscribe Section
    ============================-->
    <section id="subscribe">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>Buzon de comentarios</h2>
                <p>Envía un comentario a cerca de la página web.</p>
            </div>

            <form method="POST" action="#">
                <div class="form-row justify-content-center">
                    <div class="col-auto">
                        <input type="text" class="form-control" placeholder="Enviar comentario">
                    </div>
                    <div class="col-auto">
                        <button type="submit">Enviar</button>
                    </div>
                </div>
            </form>

        </div>
    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

        <div class="container">

            <div class="section-header">
                <h2>Contactanos</h2>
                <p>Si deseas formar parte de esta guía turística contactanos</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <img src="./assets/img/iconos/dir.png" alt=""><br><br>
                        <h3>Dirección</h3>
                        <address>Gad municipal Santa Isabel</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <img src="./assets/img/iconos/tel.png" alt=""><br><br>
                        <h3>Teléfono</h3>
                        <p><a href="0995151717">+593 95151717</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <img src="./assets/img/iconos/mail.png" alt=""><br><br>
                        <h3>Correo</h3>
                        <p><a href="mailto:info@example.com">info@turismosantaisabel.com</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="sendmessage">Tu mensaje ha sido enviado!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Ingresar nombre completo" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Correo " data-rule="email" data-msg="Ingresar correo válido" />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="ingresar por lo menos 8 caracteres" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar mensaje</button></div>
                </form>
            </div>

        </div>
    </section>
    <!-- #contact -->

</main>