<br><br>
<main id="main">
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Contactanos</h2>
                <p>Si deseas formar parte de esta guía turística contactanos</p>
            </div>

            <div class="row contact-info">
                <div class="col-md-4">
                    <div class="contact-address">
                        <img src="./assets/img/iconos/dir.png" alt=""><br><br>
                        <h3>Dirección</h3>
                        <address>Gad municipal Santa Isabel</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <img src="./assets/img/iconos/tel.png" alt=""><br><br>
                        <h3>Teléfono</h3>
                        <p><a href="0995151717">+593 95151717</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <img src="./assets/img/iconos/mail.png" alt=""><br><br>
                        <h3>Correo</h3>
                        <p><a href="mailto:info@example.com">info@turismosantaisabel.com</a></p>
                    </div>
                </div>
            </div>

            <div class="form">
                <div id="sendmessage">Tu mensaje ha sido enviado!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Ingresar nombre completo" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Correo " data-rule="email" data-msg="Ingresar correo válido" />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="ingresar por lo menos 8 caracteres" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar mensaje</button></div>
                </form>
            </div>
        </div>
    </section>
    <!-- #contact -->
</main>